<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="./css/flashcards.css">
    <script src="./js/flashcards.js" defer></script>
</head>
<body>
    <section>Flashcards</section>
    <button id="button">Add Question</button>
    <div id="addquestion">

    </div class="">
    <div class="homepage"><a href="/">Click here to reach Homepage</a></div>
</body>
</html>