<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hexa color code visualizer</title>
    <link rel="stylesheet" href="./css/hexacolor.css">
    <script src="./js/hexacolor.js" defer></script>
</head>
<body id="body">
    <header>
        <div id="box">
            <label>Input Hex Color</label>
            <input type="text" id="input-id" name="input">
        </div>
        <button type="submit" id="button">SUBMIT</button>
        <section id="invalid"></section>
        <section class="homepage"><a href="/">Click here to reach Homepage</a></section>
    </header>
</body>
</html>