<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>combination of hexacolor,flashcards,tipcalculator</title>
</head>
<style>
    body{
        background-color: chartreuse;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:180px;
    }
    div{
        margin: 4px;
    }
</style>
<body>
    <h1>Click below links to redirect corresponding app</h1>
    <div class="hexacolor">
        <a href="/hexacolor">HEXA COLOR CODE VISUALIZER</a>
    </div>
    <div class="tipcalculator">
        <a href="/tipcalculator">TIP CALCULATOR</a>
    </div>
    <div class="flashcards">
        <a href="/flashcards">FLASH CARDS</a>
    </div>
</body>
</html>