<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Calculator</title>
    <link rel="stylesheet" href="./css/tipcalculator.css">
    <script src="./js/tipcalculator.js" defer></script>
</head>
<body>
    <h1>Tip Calculator</h1>
    <section id="calculator">
        <div>
            <label>Bill Amount:</label>
            <input type="text" id="billamount">
        </div>
        <div>
            <label>Percentage Tip:</label>
            <input type="text" id="percentagetip">
        </div>
        <div>
            <label>Tip Amount:</label>
            <input type="text" id="tipamount">
        </div>
        <div>
            <label>Total:</label>
            <input type="text" id="total">
        </div>
        <button id="button">Calculate</button>
    </section>
    <div class="homepage"><a href="/">Click here to reach Homepage</a></div>
</body>
</html>